[Desktop Entry]
# Remember to add to keyboard shortcuts with 'gtk-launch arch.desktop'
Name=Arch Distrobox
GenericName=Arch Distrobox
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter emacs
Icon=/var/home/bagge/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
